<a href="{{url}}"
  class="flex flex-row items-center p-2 overflow-hidden relative transition ease-in-out hover:-translate-y-1 hover:scale-105 duration-300 hover:bg-brand-50 dark:hover:bg-slate-700 rounded-lg">
  <div class="flex min-w-[45] mr-3 font-work-sans text-brand-400 dark:text-slate-400 text-xs uppercase">
    <time datetime="{{date format=" MM-DD"}}">{{date format="D MMM"}}</time>
  </div>
  <h2 class="font-work-sans text-lg grow whitespace-nowrap overflow-hidden text-ellipsis dark:text-slate-300 pr-2">
    {{title}}
  </h2>
  {{> "icons/arrow-right"}}
</a>