<a href="{{url}}" style="background-image: url({{feature_image}})" class="flex rounded-lg shadow-md min-h-[250] 
max-h-[250] bg-center bg-cover transition ease-in-out hover:-translate-y-1 hover:scale-110 duration-300">
  <div class="flex flex-1 flex-col rounded-lg justify-end bg-gray-900/60 p-3 overflow-hidden">
    <h2 class="font-bold font-work-sans text-lg text-slate-100 break-all text-center">
      {{title}}
    </h2>
  </div>
</a>