<footer class='flex max-w-lg mx-auto justify-between mt-12 md:mt-24 mb-6'>
  <section class='text-slate-400 dark:text-gray-200 font-work-sans text-lg'>Adrian Ayala
    &copy;
    {{date format='YYYY'}}
  </section>
  <div class="flex justify-center space-x-4">
    <a href="/rss" title="RSS">
      {{> "icons/rss"}}
    </a>
    <a href="https://twitter.com/adrrian17" title="Twitter" target="_blank" rel="noopener">
      {{> "icons/twitter"}}
    </a>
    <a href="https://github.com/adrrian17" title="GitHub" target="_blank" rel="noopener">
      {{> "icons/github"}}
    </a>
    <a href="mailto:adrian.ayala17@gmail.com" title="Correo">
      {{> "icons/mail"}}
    </a>
  </div>
</footer>