<footer class="py-6">
  <div
    class="flex flex-col items-center justify-center space-y-4 md:space-y-0 px-8 md:flex-row max-w-screen-lg mx-auto md:justify-between">
    <section class="text-slate-400 dark:text-gray-200 font-work-sans text-md">Adrian Ayala
      &copy;
      {{date format="YYYY"}}
    </section>
    <div class="flex justify-center items-center space-x-4">
      <a href="/rss" title="RSS">
        {{> "icons/rss"}}
      </a>
      <a href="https://twitter.com/adrrian17" title="Twitter" target="_blank" rel="noopener">
        {{> "icons/twitter"}}
      </a>
      <a href="https://github.com/adrrian17" title="GitHub" target="_blank" rel="noopener">
        {{> "icons/github"}}
      </a>
      <a href="mailto:adrian.ayala17@gmail.com" title="Correo">
        {{> "icons/mail"}}
      </a>
    </div>
  </div>
</footer>