<nav>
	<ul class="flex flex-row">
		{{#foreach navigation}}
			<li class="px-6">
				<a class="font-work-sans text-gray-800 text-xl {{#if current}} font-semibold {{else}} hover:text-brand-400 {{/if}}"
					href="{{url absolute='true'}}">{{label}}</a>
				<div class="{{#if current}} border-2 rounded-full border-brand-400 w-1/2 mt-1 {{/if}}" />
				<!-- <div class="{{#if current}}border-b-2 border-b-brand-400 w-1/2 pt-1{{/if}}" /> -->
			</li>
		{{/foreach}}
	</ul>
</nav>