<nav>
	<ul class="flex flex-row">
		{{#foreach navigation}}
			<li class="px-6">
				<a class="font-work-sans text-gray-800 dark:text-gray-200 text-xl {{#if current}} font-semibold {{else}} hover:text-brand-400 dark:hover:text-white {{/if}}"
					href="{{url absolute='true'}}">{{label}}</a>
				<div class="{{#if current}} border-2 rounded-full border-brand-400 w-1/2 mt-1 {{/if}}" />
			</li>
		{{/foreach}}
	</ul>
</nav>