<div class="flex flex-col justify-center">
  <div class="flex items-center">
    {{> "icons/comics"}}
    <h2 class="font-work-sans text-2xl font-bold text-slate-800 dark:text-gray-100 ml-1">
      Cómics
    </h2>
  </div>
  <div class="font-work-sans text-lg text-gray-400 mt-2">Algunos de los cómics que he escrito.</div>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-6 my-6">
    {{#get "posts" limit="3" order="published_at desc" filter="tag:comic"}}
      {{#foreach posts}}
        {{> comic-card}}
      {{/foreach}}
    {{/get}}
  </div>
  <div class="flex justify-center mt-6">
    <a href="/comics" class="group font-work-sans">
      <p
        class="font-semibold text-gray-400 group-hover:text-slate-800 group-hover:underline group-hover:underline-offset-4 group-hover:decoration-brand-500 dark:group-hover:text-brand-400 align-middle inline-block">
        OTROS CÓMICS</ICS>
      </p>
      {{> "icons/arrow-right"}}
    </a>
  </div>
</div>