<div class="max-w-2xl mx-auto">
  <div class="flex items-center">
    {{> "icons/articles"}}
    <h2 class="font-work-sans text-2xl font-bold text-slate-800 dark:text-slate-300 ml-2">
      Artículos Recientes
    </h2>
  </div>
  <ul class="mt-6">
    {{#get "posts" limit="5" order="published_at desc" filter="tag:-[comic,guiones]"}}
      {{#foreach posts visibility="all"}}
        {{> "card"}}
      {{/foreach}}
    {{/get}}
  </ul>
</div>