{{!< default}}
{{#page}}
    <div class="flex flex-col max-w-md mx-auto px-4 md:px-0 md:mx-auto md:max-w-lg mt-12">
        <div class="flex flex-col items-center">
            <div>
                <h1 class="font-work-sans text-3xl font-bold text-slate-800 dark:text-gray-200">{{title}}</h1>
            </div>
            <p class="my-6 text-lg font-work-sans dark:text-gray-400">
                {{#get "posts" filter="tags:-comic"}}
                    {{t "{total} posts, en orden cronológico." total=pagination.total}}
                {{/get}}
            </p>
        </div>
        {{#get "posts" limit="all" order="published_at desc" filter="tags:-comic"}}
            {{#foreach posts visibility="all"}}
                {{> "archive-card"}}
            {{/foreach}}
        {{/get}}
    </div>
{{/page}}