{{!< default}}
{{#page}}
  <section class="header">
    {{navigation}}
    <div class="flex flex-col items-center py-20">
      <div class="flex items-center">
        {{> "icons/comics"}}
        <h2 class="font-work-sans text-2xl font-bold text-slate-800 dark:text-gray-100 ml-2">
          Cómics
        </h2>
      </div>
      <p class="mt-2 text-lg font-work-sans text-gray-400">
        Algunos de los cómics que he escrito.
      </p>
    </div>
  </section>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-10 max-w-screen-lg mx-auto px-8 md:px-0 mt-14">
    {{#get "posts" limit="all" order="published_at desc" filter="tag:comic" include="tags"}}
      {{#foreach posts}}
        {{> "comic-card"}}
      {{/foreach}}
    {{/get}}
  </div>
{{/page}}