{{!< default}}
{{#page}}
    <div class="flex flex-col max-w-screen-sm mx-auto mt-14">
        <div class="flex flex-col items-center">
            <div class="">
                <h1 class=" font-work-sans text-3xl font-bold text-slate-800">{{title}}</h1>
            </div>
            <div class="my-6 text-lg font-work-sans">
                {{content}}
            </div>
        </div>
        <div id="accordion-collapse" data-accordion="collapse" data-active-classes="bg-gray-900 text-white">
            <div class="my-4">
                <h2 id="accordion-color-heading-1">
                    <h2 id="accordion-collapse-heading-1">
                        <button type="button"
                            class="flex justify-between items-center p-5 w-full font-medium font-work-sans text-left text-white bg-gray-900 rounded-t-xl"
                            data-accordion-target="#accordion-collapse-body-1" aria-expanded="true"
                            aria-controls="accordion-collapse-body-1">
                            <span class="text-lg"> Escritura</span>
                            <svg data-accordion-icon="" class="w-6 h-6 rotate-180 shrink-0" fill="currentColor"
                                viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                    clip-rule="evenodd"></path>
                            </svg>
                        </button>
                    </h2>
                </h2>
                <div id="accordion-collapse-body-1" aria-labelledby="accordion-collapse-heading-1">
                    <div class="grid grid-cols-4 p-5 gap-6 bg-slate-200 rounded-b-xl">
                        <div>
                            <a class="font-bold font-work-sans text-lg underline decoration-2"
                                href="https://ia.net/es/writer">
                                iA Writer
                            </a>
                        </div>
                        <div class="col-span-3">
                            <p class="font-work-sans">
                                Para escribir posts y ediciones del bolet铆n. Mi editor de texto
                                favorito.
                            </p>
                        </div>
                        <div>
                            <a class="font-bold font-work-sans text-lg underline decoration-2"
                                href="https://highland2.app/">
                                Highland 2
                            </a>
                        </div>
                        <div class="col-span-3">
                            <p class="font-work-sans">
                                Para escribir mis guiones.
                            </p>
                        </div>
                        <div>
                            <a class="font-bold font-work-sans text-lg underline decoration-2"
                                href="https://www.notion.so/">
                                Notion
                            </a>
                        </div>
                        <div class="col-span-3">
                            <p class="font-work-sans">
                                Para anotar anoto diferentes cosas (gastos, ideas, etc.), una especie de libreta
                                virtual.
                            </p>
                        </div>
                        <div>
                            <a class="font-bold font-work-sans text-lg underline decoration-2"
                                href="https://www.google.com.mx/keep/">
                                Google Keep
                            </a>
                        </div>
                        <div class="col-span-3">
                            <p class="font-work-sans">
                                Para tener post-its virtuales.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="my-4">
                <h2 id="accordion-color-heading-2">
                    <h2 id="accordion-collapse-heading-2">
                        <button type="button"
                            class="flex justify-between items-center p-5 w-full font-medium font-work-sans text-left rounded-t-xl"
                            data-accordion-target="#accordion-collapse-body-2" aria-expanded="false"
                            aria-controls="accordion-collapse-body-2">
                            <span class="text-lg"> Programaci贸n</span>
                            <svg data-accordion-icon="" class="w-6 h-6 rotate-180 shrink-0" fill="currentColor"
                                viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                    clip-rule="evenodd"></path>
                            </svg>
                        </button>
                    </h2>
                </h2>
                <div id="accordion-collapse-body-2" class="hidden" aria-labelledby="accordion-collapse-heading-2">
                    <div class="grid grid-cols-4 p-5 gap-6 bg-slate-200 rounded-b-xl">
                        <div>
                            <a class="font-bold font-work-sans text-lg underline decoration-2" href="#">
                                VS Code
                            </a>
                        </div>
                        <div class="col-span-3">
                            <p class="font-work-sans">
                                Para escribir c贸digo. En mi opini贸n, el mejor editor de c贸digo.
                            </p>
                        </div>
                        <div>
                            <a class="font-bold font-work-sans text-lg underline decoration-2" href="#">
                                Vercel
                            </a>
                        </div>
                        <div class="col-span-3">
                            <p class="font-work-sans">
                                Para hosting de proyectos desarrollados con Next.js.
                            </p>
                        </div>
                        <div>
                            <a class="font-bold font-work-sans text-lg underline decoration-2" href="#">
                                GitHub
                            </a>
                        </div>
                        <div class="col-span-3">
                            <p class="font-work-sans">
                                Para guardar todo el c贸digo que hago.
                            </p>
                        </div>
                        <div>
                            <a class="font-bold font-work-sans text-lg underline decoration-2" href="#">
                                Tailwind CSS
                            </a>
                        </div>
                        <div class="col-span-3">
                            <p class="font-work-sans">
                                Para darle forma y estilo a este blog y otros proyectos.
                            </p>
                        </div>
                        <div>
                            <a class="font-bold font-work-sans text-lg underline decoration-2" href="#">
                                Next.js
                            </a>
                        </div>
                        <div class="col-span-3">
                            <p class="font-work-sans">
                                Para construir aplicaciones web con React.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="my-4">
                <h2 id="accordion-color-heading-3">
                    <h2 id="accordion-collapse-heading-3">
                        <button type="button"
                            class="flex justify-between items-center p-5 w-full font-medium font-work-sans text-left rounded-t-xl"
                            data-accordion-target="#accordion-collapse-body-3" aria-expanded="false"
                            aria-controls="accordion-collapse-body-3">
                            <span class="text-lg">★ Extras</span>
                            <svg data-accordion-icon="" class="w-6 h-6 rotate-180 shrink-0" fill="currentColor"
                                viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                    clip-rule="evenodd"></path>
                            </svg>
                        </button>
                    </h2>
                </h2>
                <div id="accordion-collapse-body-3" class="hidden" aria-labelledby="accordion-collapse-heading-3">
                    <div class="grid grid-cols-4 p-5 gap-6 bg-slate-200 rounded-b-xl">
                        <div>
                            <a class="font-bold font-work-sans text-lg underline decoration-2"
                                href="https://www.pocketcasts.com/">
                                Pocket Casts
                            </a>
                        </div>
                        <div class="col-span-3">
                            <p class="font-work-sans">
                                Para escuchar los miles de podcasts que sigo.
                            </p>
                        </div>
                        <div>
                            <a class="font-bold font-work-sans text-lg underline decoration-2"
                                href="https://www.spotify.com/">
                                Spotify
                            </a>
                        </div>
                        <div class="col-span-3">
                            <p class="font-work-sans">
                                Para la m煤sica.
                            </p>
                        </div>
                        <div>
                            <a class="font-bold font-work-sans text-lg underline decoration-2"
                                href="https://1password.com/">
                                1Password
                            </a>
                        </div>
                        <div class="col-span-3">
                            <p class="font-work-sans">
                                Para generar y guardar contrase帽as de manera ultra segura.
                            </p>
                        </div>
                        <div>
                            <a class="font-bold font-work-sans text-lg underline decoration-2"
                                href="https://getpocket.com/">
                                Pocket
                            </a>
                        </div>
                        <div class="col-span-3">
                            <p class="font-work-sans">
                                Para guardar todos los enlaces que quiero leer despu茅s.
                            </p>
                        </div>
                        <div>
                            <a class="font-bold font-work-sans text-lg underline decoration-2"
                                href="https://tapbots.com/tweetbot/">
                                Tweetbot
                            </a>
                        </div>
                        <div class="col-span-3">
                            <p class="font-work-sans">
                                Para leer Twitter, sin lugar a dudas, el mejor cliente de Twitter.
                            </p>
                        </div>
                        <div>
                            <a class="font-bold font-work-sans text-lg underline decoration-2"
                                href="https://sparkmailapp.com/">
                                Spark
                            </a>
                        </div>
                        <div class="col-span-3">
                            <p class="font-work-sans">
                                Para revisar el correo en la Mac. En el iPhone uso el cliente de Gmail.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/page}}