{{!< default}}
{{> "intro"}}
<div class="max-w-xl mx-auto mt-14">
    <div>
        <h2 class="font-work-sans text-xl font-bold text-slate-800">Recientes ⏰</h2>
        <div class="border-2 w-12 rounded-full border-brand-400" />
    </div>
    {{#foreach posts limit="5"}}
        {{> "card"}}
    {{/foreach}}
    <a href="#" class="group flex justify-center items-center mt-10">
        <p class="text-slate-400 font-semibold group-hover:text-slate-800 mr-2">Ver más posts</p>
        {{> "icons/arrow-circle-right"}}
    </a>
</div>