{{!< default}}
<div class="max-w-md mx-auto px-4 md:px-0 md:mx-auto md:max-w-lg mt-12">
    <div class="mb-12">
        <span class="font-work-sans text-lg text-slate-400">Etiqueta</span>
        {{#tag}}
            <header>
                <h1 class="font-work-sans text-3xl font-bold text-slate-800">{{name}}</h1>
                <p>
                    {{#if description}}
                        {{description}}
                    {{/if}}
                </p>
            </header>
        {{/tag}}
    </div>
    {{#foreach posts}}
        {{> "card"}}
    {{/foreach}}
</div>