.kg-card {
  @apply my-4;
}

.kg-bookmark-container {
  @apply font-work-sans my-4;
}

a.kg-bookmark-container {
  @apply flex flex-row border rounded-md;
}

.kg-bookmark-content {
  @apply w-2/3 p-4;
}

.kg-bookmark-title {
  @apply text-lg font-bold dark:text-gray-200;
}

.kg-bookmark-description {
  @apply mt-2 overflow-hidden dark:text-gray-200;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.kg-bookmark-metadata {
  @apply flex flex-row items-center mt-2 overflow-hidden text-ellipsis dark:text-gray-200;
}

.kg-bookmark-icon {
  @apply h-6 w-6 mr-2;
}

.kg-bookmark-publisher::before {
  content: '•';
  margin: 0 0.5em;
}

.kg-bookmark-thumbnail {
  @apply flex w-1/3 h-auto;
}

.kg-bookmark-thumbnail img {
  @apply object-cover rounded-r-md rounded-br-md;
}

.kg-file-card-container {
  @apply p-4 bg-white rounded-xl border border-gray-200 shadow-md hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 !important;
}

.kg-file-card-icon:before {
  background: none !important;
}

.kg-file-card-icon {
  @apply bg-brand-400 dark:bg-brand-500 rounded-xl;
}

.kg-file-card-icon svg {
  color: #fff !important;
}

.kg-file-card-title {
  @apply font-work-sans;
}

.kg-file-card-caption {
  @apply font-work-sans py-2;
}

.kg-file-card-metadata {
  @apply font-work-sans;
}

.kg-file-card-contents {
  @apply text-gray-900 dark:text-white;
}

.kg-header-card.kg-size-small {
  @apply py-0 bg-slate-100 rounded-md !important;
  min-height: 25vh !important;
}

.kg-header-card-header {
  @apply text-2xl dark:text-gray-800 !important;
}

.kg-header-card-subheader {
  @apply text-lg !important;
}

.kg-image-card {
  @apply flex flex-col items-center my-12;
}

.kg-image-card figcaption {
  @apply text-gray-400 mt-2;
}

.kg-width-wide img {
  max-width: 85vw;
}

.kg-width-full img {
  max-width: 100vw;
}
